@import "../../styles/all";

.welcome {
  width: 100%;
  min-height: 50vh;
  font-family: $primary-font;

  .welcome-inner {
    max-width: $max-width;
    margin: 0 auto;
    min-height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding-top: 5rem;

    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr;
    }

    .welcome-left {
        display: flex;
        align-items: center;
        justify-content: center;

        .welcome-background-image {
            width: 85%;

            @media screen and (max-width: 1000px) {
                width: 350px;
            }
        }
    }

    .welcome-right {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      padding: 2rem;

      .box {
        width: 60px;
        height: 80px;
        z-index: -1;
        background: rgba(211, 211, 211, 0.5);
        position: absolute;
        transform: skewX(20deg);
        top: 25%;
      }

      .welcome-title {
        font-size: 50px;

        .span {
            color:$orange;
        }
      }
      .welcome-description {
        color: $logo-color;
        font-weight: normal;
      }
      .welcome-button {
        width: 200px;
        padding: 20px 40px;
        outline: none;
        color: $dark_blue;
        font-weight: bold;
        border: none;
        border-radius: $border-radius;
      }
    }
  }
}
